<div class="rsidebar_products_i_like">
  <div class="panel panel-default text-center">
    <div class="panel-heading text-center">
      <h4> Items I Like</h4>
    </div>
    <div class="products_liked">

    </div>
  </div>
</div>