<div id="products" class="row products">
  <div class="panel panel-default">
    <div class="panel-body text-center product-body">
      <% errors = @errors if @errors.present? && @errors.count > 0 %>
      <% if errors.present? && errors.count > 0 %>
          <% errors.each do |error| %>
              <div class="alert alert-info" role="alert"><%= error %></div>
          <% end %>
      <% end %>

        <div id="append_products">
            <%= render partial: "spree/products/products_for_append", locals: {products: @products} %>
        </div>

      <% if products.present? %>
          <!--pagination with load_more button-->
          <div class="col-md-12">
            <% unless products.current_page == products.total_pages %>
                <nav>
                  <ul class="pager">
                    <li id="view-more ">
                      <%= link_to(Spree.t("load_more"), url_for(page: products.current_page + 1), remote: true, class: "btn-group-justified") %>
                    <li>
                  </ul>
                </nav>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

