<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="public/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="public/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="public/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="public/css/home/styles.css" type="text/css" rel="stylesheet"/>
    <script src="public/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="public/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="public/resources/scripts/axure/axQuery.js"></script>
    <script src="public/resources/scripts/axure/globals.js"></script>
    <script src="public/resources/scripts/axutils.js"></script>
    <script src="public/resources/scripts/axure/annotation.js"></script>
    <script src="public/resources/scripts/axure/axQuery.std.js"></script>
    <script src="public/resources/scripts/axure/doc.js"></script>
    <script src="public/data/document.js"></script>
    <script src="public/resources/scripts/messagecenter.js"></script>
    <script src="public/resources/scripts/axure/events.js"></script>
    <script src="public/resources/scripts/axure/action.js"></script>
    <script src="public/resources/scripts/axure/expr.js"></script>
    <script src="public/resources/scripts/axure/geometry.js"></script>
    <script src="public/resources/scripts/axure/flyout.js"></script>
    <script src="public/resources/scripts/axure/ie.js"></script>
    <script src="public/resources/scripts/axure/model.js"></script>
    <script src="public/resources/scripts/axure/repeater.js"></script>
    <script src="public/resources/scripts/axure/sto.js"></script>
    <script src="public/resources/scripts/axure/utils.temp.js"></script>
    <script src="public/resources/scripts/axure/variables.js"></script>
    <script src="public/resources/scripts/axure/drag.js"></script>
    <script src="public/resources/scripts/axure/move.js"></script>
    <script src="public/resources/scripts/axure/visibility.js"></script>
    <script src="public/resources/scripts/axure/style.js"></script>
    <script src="public/resources/scripts/axure/adaptive.js"></script>
    <script src="public/resources/scripts/axure/tree.js"></script>
    <script src="public/resources/scripts/axure/init.temp.js"></script>
    <script src="public/files/home/data.js"></script>
    <script src="public/resources/scripts/axure/legacy.js"></script>
    <script src="public/resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'public/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
	  </script>
	<!--CustomerAddressScripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/22/2/main.js"></script>
    <script src="https://maps.googleapis.com/maps-api-v3/api/js/22/2/places.js"></script>
    <script src="publich/js/home/addressSearch.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/home/addressSearch.css">
    <script>initGeocode();</script>
    <script>
    WebFont.load({
      google: {
        families: ["PT Sans:400,400italic,700,700italic","Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic","Roboto:300,regular,500","Roboto Condensed:300,regular,700","Roboto Slab:300,regular,700","Arbutus Slab:regular","Ubuntu Mono:regular,italic,700,700italic","Ubuntu Condensed:regular:latin-ext,latin","PT Sans Caption:regular,700"]
      }
    });
  </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- BackgroundPhoto (Image) -->
      <div id="u0" class="ax_image" data-label="BackgroundPhoto">
        <img id="u0_img" class="img " src="public/images/home/backgroundphoto_u0.jpg"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- MainHeader (Shape) -->
      <div id="u2" class="ax_h1" data-label="MainHeader">
        <img id="u2_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
          <p><span>Get Your Quote In </span></p><p><span>Three Easy Steps</span></p>
        </div>
      </div>

      <!-- Brick1 (Flow Shape) -->
      <div id="u4" class="ax_flow_shape" data-label="Brick1">
        <img id="u4_img" class="img " src="public/images/home/brick1_u4.png"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- AddressField (Text Field) -->
      <div id="u6" class="ax_text_field" data-label="AddressField">
        <input id="CustomerAddress" type="text" placeholder="123 Street Name, City, Province, Postal Code" />
      </div>

      <!-- AddressSubmitButton (Shape) -->
      <div id="u7" class="ax_shape" data-label="AddressSubmitButton" title="FindButton" selectiongroup="Fin">
        <img id="u7_img" class="img " src="public/images/home/addresssubmitbutton_u7.png"/>
        <!-- Unnamed () -->
        <div id="u8" class="text">
          <p><span>SUBMIT</span></p>
        </div>
      </div>

      <!-- QualityIcon (Image) -->
      <div id="u9" class="ax_image" data-label="QualityIcon">
        <img id="u9_img" class="img " src="public/images/home/qualityicon_u9.png"/>
        <!-- Unnamed () -->
        <div id="u10" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- DollarIcon (Image) -->
      <div id="u11" class="ax_image" data-label="DollarIcon">
        <img id="u11_img" class="img " src="public/images/home/dollaricon_u11.png"/>
        <!-- Unnamed () -->
        <div id="u12" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- CartIcon (Image) -->
      <div id="u13" class="ax_image" data-label="CartIcon">
        <img id="u13_img" class="img " src="public/images/home/carticon_u13.png"/>
        <!-- Unnamed () -->
        <div id="u14" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- SubHeading1 (Shape) -->
      <div id="u15" class="ax_h1" data-label="SubHeading1">
        <img id="u15_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u16" class="text">
          <p><span>Trustworthy Pricing</span></p>
        </div>
      </div>

      <!-- SubHeading 2 (Shape) -->
      <div id="u17" class="ax_h1" data-label="SubHeading 2">
        <img id="u17_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u18" class="text">
          <p><span>Quality Products</span></p>
        </div>
      </div>

      <!-- SubHeading3 (Shape) -->
      <div id="u19" class="ax_h1" data-label="SubHeading3">
        <img id="u19_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u20" class="text">
          <p><span>Certified Contractors</span></p>
        </div>
      </div>

      <!-- Caption1 (Shape) -->
      <div id="u21" class="ax_h1" data-label="Caption1">
        <img id="u21_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u22" class="text">
          <p><span>With up to 25% cost savings</span></p>
        </div>
      </div>

      <!-- Caption2 (Shape) -->
      <div id="u23" class="ax_h1" data-label="Caption2">
        <img id="u23_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u24" class="text">
          <p><span>From best in class brands</span></p>
        </div>
      </div>

      <!-- Caption3 (Shape) -->
      <div id="u25" class="ax_h1" data-label="Caption3">
        <img id="u25_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u26" class="text">
          <p><span>Local and bonded services</span></p>
        </div>
      </div>

      <!-- Brick2 (Flow Shape) -->
      <div id="u27" class="ax_flow_shape" data-label="Brick2">
        <img id="u27_img" class="img " src="public/images/home/brick2_u27.png"/>
        <!-- Unnamed () -->
        <div id="u28" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Brick3 (Flow Shape) -->
      <div id="u29" class="ax_flow_shape" data-label="Brick3">
        <img id="u29_img" class="img " src="public/images/home/brick3_u29.png"/>
        <!-- Unnamed () -->
        <div id="u30" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- CustomerFeedback (Dynamic Panel) -->
      <div id="u31" class="ax_dynamic_panel" data-label="CustomerFeedback">
        <div id="u31_state0" class="panel_state" data-label="State1">
          <div id="u31_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u32" class="ax_h2">
              <img id="u32_img" class="img " src="public/resources/images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u33" class="text">
                <p><span>&quot;There are so many great products to choose from&quot;</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u34" class="ax_paragraph">
              <img id="u34_img" class="img " src="public/resources/images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u35" class="text">
                <p><span>-Andrew (Toronto)</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u31_state1" class="panel_state" data-label="State2">
          <div id="u31_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u36" class="ax_h2">
              <img id="u36_img" class="img " src="public/resources/images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u37" class="text">
                <p><span>&quot;Service was fantastic&quot;</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u38" class="ax_paragraph">
              <img id="u38_img" class="img " src="public/resources/images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u39" class="text">
                <p><span>-Tony (Toronto)</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FooterBrick (Flow Shape) -->
      <div id="u40" class="ax_flow_shape" data-label="FooterBrick">
        <img id="u40_img" class="img " src="public/images/home/footerbrick_u40.png"/>
        <!-- Unnamed () -->
        <div id="u41" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- ShelterBoxPhoto (Image) -->
      <div id="u42" class="ax_image" data-label="ShelterBoxPhoto">
        <img id="u42_img" class="img " src="public/images/home/shelterboxphoto_u42.jpeg"/>
        <!-- Unnamed () -->
        <div id="u43" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- DonationHeading (Shape) -->
      <div id="u44" class="ax_h1" data-label="DonationHeading">
        <img id="u44_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u45" class="text">
          <p><span>10$ of Every Contract Goes to Helping a Family in Need</span></p>
        </div>
      </div>

      <!-- FooterCompany (Shape) -->
      <div id="u46" class="ax_h1" data-label="FooterCompany">
        <img id="u46_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u47" class="text">
          <p style="font-size:24px;text-align:center;"><span style="font-size:24px;text-align:center;">Roofing Made Easy Inc.</span></p><p style="font-size:12px;text-align:left;"><span style="font-size:12px;text-align:left;">Toronto, Onttario </span></p><p style="font-size:12px;text-align:left;"><span style="font-size:12px;text-align:left;">Canada</span></p>
        </div>
      </div>

      <!-- LogInLink (Shape) -->
      <div id="u48" class="ax_h1" data-label="LogInLink">
        <img id="u48_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span>Log In</span></p>
        </div>
      </div>

      <!-- ContactUsLink (Shape) -->
      <div id="u50" class="ax_h1" data-label="ContactUsLink">
        <img id="u50_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span>Contact Us</span></p>
        </div>
      </div>

      <!-- OurServiceLink (Shape) -->
      <div id="u52" class="ax_h1" data-label="OurServiceLink">
        <img id="u52_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span>Our Service</span></p>
        </div>
      </div>

      <!-- Unnamed (NavBar) -->

      <!-- Unnamed (Shape) -->
      <div id="u55" class="ax_h1">
        <img id="u55_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u56" class="text">
          <p><span>Homeowners</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u57" class="ax_h1">
        <img id="u57_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u58" class="text">
          <p><span>Businesses</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u59" class="ax_image">
        <img id="u59_img" class="img " src="public/images/home/u59.png"/>
        <!-- Unnamed () -->
        <div id="u60" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u61" class="ax_h1">
        <img id="u61_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u62" class="text">
          <p><span>Roofing Made Easy</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u63" class="ax_h1">
        <img id="u63_img" class="img " src="public/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u64" class="text">
          <p><span>Log In</span></p>
        </div>
      </div>

      <!-- FindQuote (Shape) -->
      <div id="u65" class="ax_shape" data-label="FindQuote" title="FindButton" selectiongroup="u54Fin">
        <img id="u65_img" class="img " src="public/images/home/findquote_u65.png"/>
        <!-- Unnamed () -->
        <div id="u66" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- QuoteNumber (Text Field) -->
      <div id="u67" class="ax_text_field" data-label="QuoteNumber">
        <input id="quoteSearch" type="text" placeholder="Enter your quote number" />
      </div>

      <!-- Unnamed (Image) -->
      <div id="u68" class="ax_image">
        <img id="u68_img" class="img " src="public/images/home/u68.png"/>
        <!-- Unnamed () -->
        <div id="u69" class="text">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
