 #panel {
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
        #address {
            color: black;
        }
        #pac-input {
             color: black;
        }