<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Jun 17 2015 12:59:19 GMT+0000 (UTC) -->
<html data-wf-site="554eaa03e47085a40aa28e10" data-wf-page="55514155c7786dfb2802b56b">
<head>
  <meta charset="utf-8">
  <title>Business</title>
  <meta name="description" content="The number one roofing tool for contractors, suppliers and disposal companies, we provide you with access to North America's largest collection of roofing customers. Our full service platform enables you to receive and confirm new booking requests, manage your availability, offer products, and maximize your teams utilization. We provide desktop and mobile access to our platform so you can stay in the game 24 hours a day, 7 days a week. We also provide free marketplace recommendations to help you increase your marketability, and maximize your sales throughout the season.">
  <meta name="keywords" content="Contractors, Roofers, Suppliers, Distributors, Platform, Service, Sales, Increase Sales, Optimize Sales, Grow Sales, Top Sales, Marketing, Roof Customers, Roof Recommendations, Roof Quality, Roof Service, Roof Products, Roof Teams, Roof Utilization">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="/assets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/assets/webflow.css">
  <link rel="stylesheet" type="text/css" href="/assets/roofingmadeeasy.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["PT Sans:400,400italic,700,700italic","Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic","Roboto:300,regular,500","Roboto Condensed:300,regular,700","Roboto Slab:300,regular,700","Arbutus Slab:regular","Ubuntu Mono:regular,italic,700,700italic","Ubuntu Condensed:regular:latin-ext,latin","PT Sans Caption:regular,700"]
      }
    });
  </script>
  <script type="text/javascript" src="assets/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/New icon.ico">
  <link rel="apple-touch-icon" href="/assets/metric-webclip.png">
  <style type="text/css">
      .booking-button{
        border: 3px solid #000;
        border-radius: 3px;
        background-color: #000;
        color: #FFF;
        padding: 18px 35px 13px 23px;
        box-shadow: 0px 2px 1px 0px rgb(0, 0, 0);
        margin-top: 15px;
        font-weight: 700;
        display: block;
        width: 100%;
      }
      .available-calendar{
        padding-top: 93px;
      }
  </style>
</head>

<div class="w-nav navigation" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container navigation-container">
      <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-easing="linear">
        <div class="w-clearfix homepage-logo">
          <div class="logo">Roofing Made Easy.</div><img class="w-hidden-small w-hidden-tiny navlogo" src="/assets/Logo.png" width="85" height="75">
        </div>
        <div class="w-container navbar">
          <nav class="w-nav-menu w-clearfix dropmenu" role="navigation">
            <a class="w-nav-link nav-link businesses drop" href="login_portal.html">Log In</a>
            <a class="w-nav-link nav-link businesses drop" href="business.html">Business</a>
            <a class="w-nav-link nav-link homeowner drop" href="our_service.html">Homeowner</a>
            <a class="w-nav-link nav-link businesses drop" href="/shop">Select Product</a>
            <a class="w-nav-link nav-link businesses drop" href="index.html">Home</a>
          </nav>
          <div class="w-nav-button">
            <div class="w-icon-nav-menu hamburger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div style="display: none" id="bookings-data">
  <%= @bookings.to_json %>
</div>

<div class="w-container">
  <span class="w-col w-col-12 available-calendar">
    <h1 class="booking-title">Availability Calendar</h1>
    <div id="availability-calendar"></div>
  </span>

  <span class="w-col w-col-6">
    <button class="booking-button" id="booking-submitter">
    <% if @booking.new_record? %>
      Add Booking
    <% else %>
      Update Booking
    <% end %>
    </button>
  </span>
  <span class="w-col w-col-6">
    <button class="booking-button" id="edit-booking-activator">Edit Booking</button>
  </span>

  <span class="w-col w-col-12">
    <div class="booking-details">
      <%= form_for(@booking, html: {id: "booking-form"}) do |f| %>
        <%= render(partial: "bookings/form", locals: {f: f, disabled: !@booking.new_record?}) %>
      <% end %>
    </div>
  </span>
</div>

<div class="w-section section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="logo footerlogo">Roofing Made Easy.</div>
          <div class="findus">Enter your postal/zip code and we will be in your area within 30 days.</div>
          <div class="w-form newsletter-form">
            <form class="w-clearfix" id="wf-form-newsletter" name="wf-form-newsletter" data-name="Newsletter">
              <input class="w-input newsletter-field" id="postal-zip-code-2" type="text" placeholder="Enter postal/zip code" name="postal-zip-code-2" data-name="Postal Zip Code 2" required="required">
              <input class="w-button newsletter-button" type="submit" value="Submit" data-wait="Sent" wait="Sent">
            </form>
            <div class="w-form-done success-message">
              <p>Thank you! You’ll receive an email shortly.</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
          <div class="social-icon-group">
            <a class="w-inline-block social-icon" href="#"><img src="../../images/facebook-icon.svg">
            </a>
            <a class="w-inline-block social-icon" href="#"><img src="../../images/twitter-icon.svg">
            </a>
            <a class="w-inline-block social-icon" href="#"><img src="../../images/linkdin-icon-white.svg">
            </a>
            <a class="w-inline-block social-icon" href="#"><img src="../../images/email-icon-white.svg">
            </a>
          </div>
        </div>
        <div class="w-col w-col-2">
          <h4 class="footer-title">Homeowner</h4><a class="page-link in-footer" href="../../homeowners-home/our-service.html">Our Service</a><a class="page-link in-footer" href="../../generate-quote/customer-information.html">Get a Quote</a><a class="page-link in-footer" href="../../contact/file-complaint.html">File Complaint</a>
        </div>
        <div class="w-col w-col-2">
          <h4 class="footer-title">Business</h4><a class="page-link in-footer" href="../../roofing-made-easy/business.html">Information</a><a class="page-link in-footer" href="../../roofing-made-easy/roofers-contractors/register.html">Register</a><a class="page-link in-footer" href="../../roofing-made-easy/availability/availablity-calendar.html">Availability</a><a class="page-link in-footer" href="../../roofing-made-easy/job-protocals/forms-submissions-home.html">Forms&nbsp;</a>
        </div>
        <div class="w-col w-col-2">
          <h4 class="footer-title">Contact us</h4><a class="page-link in-footer" href="../../contact/contact-us.html">Get In Touch</a>
        </div>
      </div>
    </div>
  </div>

