.booking-title {
  margin-top: 90px;
}

.booking-button {
  width: 100%;

  margin: 10px 0;
  padding: 10px 0;

  background-color: black;
  color: white;
}

.booking-details {
  input {
    width: 90%;
    margin-bottom: 10px;
  }
}

