.custom-manage{
  margin: 10px 5px 10px 0;
  min-width: 300px;
}
.custom-manage .custom-content{
  height: 630px;
}
.custom-manage .custom-content #custom-calendar{
  height: 20%;
}
#custom-calendar #caledar-selector{
  padding:50px 0 0 50px;
}
#caledar-selector #calendar-label{
  float: left;
  color: #50C0FB;
  font-size: 27px;
  font-weight: bold;
  text-align: right;
}
#calendar-select img{
  margin-left: 40px;
}
#calendar-select input{
  width: 50%;
}
.calendar-style{
  float: left;
  margin-left: 40px;
}
.custom-manage .custom-content #contractor-selector{
  height: 80%;
  overflow-y:scroll;
}
.custom-manage .custom-panel{
  height: 630px;
}
.panel-input{
  height: 17%;
}
.panel-input .nextbutton{
  width: 100%;
  margin: 10px 0px;
  padding: 10px 0px;
  background-color: black;
  color: #FFF;
  border-radius: 10px;
  font-weight: bold;
}
.panel-header{
  padding: 20px 0 10px 20px;
  font-weight: bold;
  font-size: 25px;
  color: #50C0FB;
}
.panel-content{
  text-align: center;
  color: #898683;
}
.contractor-box{
  width: 85%;
  height: 170px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 20px auto;
}
#contractor-selector .company-logo{
  display: block;
  float: left;
  width: 25%;
}
#contractor-selector .company-logo .logo-img{
  border: 2px solid black;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  margin: 15px auto;
  background-color: white;
}
#contractor-selector .company-logo .logo-img img{
  width: 100%;
  height: 100%;
}
#contractor-selector .company-info{
  display: block;
  float: left;
  width: 35%;
  color: #5f5e5e;
  margin-top: 15px;
  padding-left: 10px;
}
#contractor-selector .company-info .company-name{
  font-size: 25px;
  height: 50px;
  font-weight: bold;
}
#contractor-selector .company-info .company-desc{
  height: 45px;
}
#contractor-selector .company-info .company-certif img{
  width: 100px;
  height: 50px;
  float: left;
  border: 2px solid black;
}
#contractor-selector .company-info .certifi-img{
  float: left;
  width: 100px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
}
.company-certif .last-img{
  margin-left: 10px;
}
#contractor-selector .company-controller{
  display: block;
  float: left;
  margin: 50px auto;
  text-align: center;
  width: 40%;
}
#contractor-selector .company-controller .click-btn{
  display: block;
  float: left;
  padding: 6px 0;  
  color: white;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: black;
}
#contractor-selector .company-controller .button-select{
  margin-left: 30px;
}
@media only screen and (min-width:1324px) and (max-width: 1345px){
  #contractor-selector .company-info .company-certif img{
    width: 40%;
  }
  #contractor-selector .company-info .certifi-img{
    width: 40%;
  }
}
@media (max-width: 1323px) {
  .contractor-box{
    height: 300px;
  }
  #contractor-selector .company-logo{
    width:40%;
  }
  #contractor-selector .company-info{
    width:60%;
  }
  #contractor-selector .company-controller{
    width: 100%;
  }
  .company-controller .button-gallery{
    margin-left: 8%;
  }
}
@media only screen and (min-width:768px) and (max-width: 810px) {
     .panel-header{
        padding: 20px 0 10px 0;
     }
}
@media (max-width: 785px) {
  #custom-calendar #caledar-selector {
    padding: 25px 0px 0px 50px;
  }
}
@media (max-width: 767px) {
  #caledar-selector #calendar-label{
    float: none;
    text-align: left;
  }
  .custom-manage .custom-content #contractor-selector{
    height: 78%;
  }
  .custom-manage .custom-content #custom-calendar{
    height: 22%;
  }
  #calendar-select img{
    margin-left: 20px;
  }
  .calendar-style{
    float: left;
    margin-left: 0px;
  }
  .custom-manage .custom-panel{
    margin: 20px 10px 20px 10px;
    width: calc(100% - 20px);
  }
}
@media (max-width: 514px) {
  .contractor-box{
    height: 375px;
  }
  #contractor-selector .company-logo{
    width:100%;
  }
  #contractor-selector .company-info{
    width:100%;
  }
  #contractor-selector .company-controller{
    width: 100%;
  }
  #contractor-selector .company-info .company-certif img{
    width: 40%;
  }
  #contractor-selector .company-info .certifi-img{
    width: 40%;
  }
  #contractor-selector .company-controller{
    margin: 10px auto;
  }
}
@media (max-width: 351px){
  .custom-manage .custom-content #contractor-selector{
    height: 73%;
  }
  #contractor-selector .company-controller a{
    font-size: 12px;
  }
  .custom-manage .custom-content #custom-calendar{
    height: 27%;
  }
  #calendar-select img{
    margin-left: 0px;
  }
  .company-controller .button-gallery{
    margin-left: 2%;
  }
}
#next-button-valid{
  display: block;
  float: left;
  color: #B94A48;
  background-color: #EED3D7;
  border-radius: 5px;
  text-align: center;
}
#next-button-valid p{
  text-align: center;
}
#company-valid{
  text-align: center;
  margin-top: 190px;
  font-size: 20px;
}
#company-valid p{
  color: #B94A48;
  font-weight: bold;
}
