

<div class="w-nav navigation" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
  <div class="w-container navigation-container">
    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-easing="linear">
      <div class="w-clearfix homepage-logo">
        <div class="logo">Roofing Made Easy.</div>
        <!--<img class="w-hidden-small w-hidden-tiny navlogo" src="assets/Logo.png" width="85" height="75">-->
        <%=image_tag("Logo.png", class:"w-hidden-small w-hidden-tiny navlogo", width:"85", height:"75")%>
      </div>
      <div class="w-container navbar">
        <nav class="w-nav-menu w-clearfix dropmenu" role="navigation">
          <a class="w-nav-link nav-link businesses drop" href="/login_portal.html">Log In</a>
          <a class="w-nav-link nav-link businesses drop" href="/business.html">Business</a>
          <a class="w-nav-link nav-link homeowner drop" href="/our_service.html">Homeowner</a>
          <a class="w-nav-link nav-link businesses drop" href="/shop">Select Product</a>
          <a class="w-nav-link nav-link businesses drop" href="/index.html">Home</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu hamburger"></div>
        </div>
      </div>
    </div>
  </div>
</div>