<div class="w-section section footer">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="logo footerlogo">Roofing Made Easy.</div>
        <div class="findus">Enter your postal/zip code and we will be in your area within 30 days.</div>
        <div class="w-form newsletter-form">
          <form class="w-clearfix" id="wf-form-newsletter" name="wf-form-newsletter" data-name="Newsletter">
            <input class="w-input newsletter-field" id="postal-zip-code" type="text" placeholder="Enter postal/zip code" name="postal-zip-code" data-name="postal/zip code" required="required">
            <input class="w-button newsletter-button" type="submit" value="Submit" data-wait="Sent" wait="Sent">
          </form>
          <div class="w-form-done success-message">
            <p>Thank you! You’ll receive an email shortly.</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
        <div class="social-icon-group">
          <a class="w-inline-block social-icon" href="#">
            <%= image_tag("facebook-icon.svg") %>
          </a>
          <a class="w-inline-block social-icon" href="#">
            <%= image_tag("twitter-icon.svg") %>
          </a>
          <a class="w-inline-block social-icon" href="#">
            <%= image_tag("linkdin-icon-white.svg") %>
          </a>
          <a class="w-inline-block social-icon" href="#">
            <%= image_tag("email-icon-white.svg") %>
          </a>
        </div>
      </div>
      <div class="w-col w-col-2">
        <h4 class="footer-title">Homeowner</h4>
        <a class="page-link in-footer" href="/our_service.html">Our
        Service</a>
        <a class="page-link in-footer" href="/customer_information.html">Get a Quote</a>
      </div>
      <div class="w-col w-col-2">
        <h4 class="footer-title">Business</h4>
        <a class="page-link in-footer" href="/business.html">Information</a>
        <a class="page-link in-footer" href="/register.html">Log In</a>
        <a class="page-link in-footer" href="/forms_submissions_home.html">Forms&nbsp;</a>
      </div>
      <div class="w-col w-col-2">
        <h4 class="footer-title">Contact us</h4>
        <a class="page-link in-footer" href="/contact_us.html">Get In
        Touch</a>
        <a class="page-link in-footer" href="/file_complaint.html">File Complaint</a>
      </div>
    </div>
  </div>
</div>