<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
  <input type="text" class="form-control" placeholder="Search by sku...">
</div><!-- /input-group -->